.header-bg {
    min-height: 9.375rem;
    max-height: 24.375rem;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 20%), rgba(250, 0, 0, 20%)), url('img/background.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 320px) {
    .header-bg {
        min-height: 27.375rem;
        max-height: 28.375rem;
    }
}

@media (max-width: 425px) {
    .header-bg {
        min-height: 9.375rem;
        max-height: 26.375rem;
    }
}

.circle-padding {
    width: 15rem;
    height: 15rem;
    border: 0.625rem solid white;
    border-radius: 50%;
    object-fit: cover;
}

